.containerFooter {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#14213D; 
    padding: 1rem 1rem;
    gap: 1rem;
}

.contenedorRedes {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.bloqueVacio {
    border-bottom: 1px solid #D0D3D8;
    width: 25%;
}

.redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
}

.redes i {
    font-size: 30px;
    color: white;
}

.imgFooter {
    width: 60px;
}

.copyright {
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #D9D9D9;
    font-weight: 300;
    gap: 2px;
    text-align: center;
}

.tyc-Pv {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    color: white;
}

.tyc-Pv > p {
    display: none;
}

.tyc-Pv a {
    color: white;
}

@media screen and (min-width:768px) {
    .tyc-Pv {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        color: white;
    }

    .tyc-Pv > p {
        display: block;
    }
}

@media screen and (min-width:1280px) {
    .containerFooter {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color:#14213D; 
        padding: 1rem 2rem;
        gap: 1rem;
    }
    
    .contenedorRedes {
        display: flex;
        flex-direction: row;
        width:100%;
        justify-content: space-between;
        align-items: center;
    }
    
    .bloqueVacio {
        border-bottom: 1px solid #D0D3D8;
        width: 40%;
    }
    
    .redes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        position: relative;
    }
    
    .redes i {
        font-size: 30px;
        color: white;
    }
    
    .imgFooter {
        width: 60px;
    }
    
    .copyright {
        font-size: 14px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #D9D9D9;
        font-weight: 300;
        gap: 2px;
    }
    
    .tyc-Pv {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        color: white;
    }

    .tyc-Pv > p {
        display: block;
    }
    
    .tyc-Pv a {
        color: white;
    }
}