<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Cotización</title>
</head>
<body>

    <header>
        <%- include('./partials/header.ejs') %>
    </header>

    <main>
        <section class="totalArea">
            <div class="titlePage"><p>Cotización - 8583836</p></div>
            <section class="infoArea">
                
                <div class="contenedorTotal" id="contenedorTotalCo">
                    <section class="contenedorGeneralConsultaPEI" id="infoOTTQC">
                        
                        <div class="firstBlockCo">
                            <img src="/images/logoAzul.png" alt="">
                            <p >COTIZACIÓN N°1813</p>
                        </div>
                        <div class="infoCo">
                            <div class="infoBlockCo">
                                <p>Envigado, 03 de NOVIEMBRE de 2023</p>
                            </div>
                            <div class="infoBlockCo">
                                <p>Señores:</p>
                                <p>PLASTICOS MAUÁ</p>
                            </div>
                            <div class="infoBlockCo">
                                <p>Ant. Sr.</p>
                                <p class="bld">Teófilo Ferreira.</p>
                                <p class="bld">Calidad.</p>
                                <p>Av. Queirós dos Santos, 1235 - Casa Branca, Santo André - SP, 09015-311, Brasil</p>
                            </div>
                            <div class="infoBlockCo">
                                <p class="bld">Telefono:</p>
                                <p>(+55) 11 2175-2222</p>
                                <p>(+55) 11 2175-2242</p>
                            </div>
                            <div class="infoBlockCo">
                                <p class="bld">qualidade3@plasticosmaua.com.br</p> 
                            </div>
                            <div class="infoBlockCo marginTop1">
                                <p>Saludos:</p>
                                <p>De acuerdo con su solicitud estamos cotizando lo siguiente:</p>
                                <p class="bld">Inspección, Verificación, Clasificación y Recuperaciòn de piezas.</p>
                                <p class="bld">ref.: 638744101R Y 638753375R.</p>
                            </div>
                            <div class="infoBlockCo">
                                <p class="bld">Unidades por RAN: 100</p> 
                            </div>
                            <div class="infoBlockCo marginTop1">
                                <p class="bld">Descripción del Proceso:</p>
                                <p class="bld">Se recepciona el material,</p>
                                <p class="bld">Se extraen las piezas del embalaje.</p>
                                <p class="bld">Se valida si la referencia de la pieza corresponde con la referencia marcada en el embalaje. en
                                    caso de encontrar una novedad se informa al personal de no conformes Sofasa.
                                </p>
                                <p class="bld">Se revisan las piezas, se elimina el exceso de la cinta de doble cara con una cuchilla de corte.
                                    Se marcan las piezas OK con la firma del inspector en la zona definida.
                                    Las piezas OK son empacadas nuevamente respetando las condiciones de embalaje
                                    originales.
                                </p>
                            </div>
                            <ul class="infoBlockCo marginTop1 ibco">
                                <li>Informamos nuestro valor por unidad Inspeccionada.</li>
                                <li>Enviamos informes de inspección semanales con cantidades inspeccionadas, cantidades
                                    defectuosas, cantidades retrabajadas, cantidades rechazadas, y la respectiva factura.
                                </li> 
                                <li>De ser aceptada nuestra cotización, deben autorizar por correo electrónico la aceptación de
                                    nuestros servicios entre ambas empresas que soporta una negociación para ambas partes y la
                                    respectiva Orden de Servicio de parte de ustedes.
                                </li> 
                                <li>Deben enviarnos el documento que otorgue personería jurídica en su respectivo país. Y
                                    CPF (Cadastro de Persona Física), o CNPJ (Cadastro de Persona Jurídica).
                                </li> 
                                <li>Favor diligenciar el documento adjunto “1 HOJA DE VIDA CLIENTE V2” con los detalles de tu
                                    empresa.
                                </li> 
                            </ul>
                            
                            <table class="tablePrecioTotalDesktop marginTop2">
                                <tr class="tr1">
                                    <th class="th">DESCRIPCIÓN</th>
                                    <th class="th">CANT</th>
                                    <th class="th">VALOR UNIDAD</th>
                                    <th class="th">IVA 19%</th>
                                    <th class="th">TOTAL PRECIO UNIDAD</th>
                                </tr>
                                <tr class="tr2">
                                    <td>Costo por Unidad Inspeccionada y Retrabajada</td>
                                    <td>1</td>
                                    <td><span>USD$</span>0,5225</td>
                                    <td><span>USD$</span>0,0992</td>
                                    <td><span>USD$</span>0,5217</td>
                                </tr>
                                
                            </table>
                            <table class="tablePrecioTotalMovile marginTop2">
                                <tr class="tr1">
                                    <th class="th">DESCRIPCIÓN</th>
                                    <th class="th">CANT</th>
                                    <th class="th">VALOR UNIDAD</th>
                                    
                                </tr>
                                <tr class="tr2">
                                    <td>Costo por Unidad Inspeccionada y Retrabajada</td>
                                    <td>1</td>
                                    <td><span>USD$</span>0,5225</td>
                                    
                                </tr>
                                <tr class="tr1">
                                    
                                    <th class="th">IVA 19%</th>
                                    <th class="th">TOTAL PRECIO UNIDAD</th>
                                </tr>
                                
                                <tr class="tr2">
                                    
                                    <td><span>USD$</span>0,0992</td>
                                    <td><span>USD$</span>0,5217</td>
                                </tr>
                                
                            </table>


                            <div class="infoBlockCo marginTop2">
                                <p class="bld">Cantidad de piezas reportadas por Renault – Sofasa en stock y tránsito: 6.600 unidades.</p> 
                                <p class="bld marginTop1">Valor total de la inspección USD $3.448,50 más 19% de IVA</p> 
                                <p class="bld">El tiempo previsto para finalizar la actividad, dependerá de las necesidades de consumo
                                    reportadas por la línea de ensamble de Sofasa.
                                </p> 
                            </div>
                            <div class="infoBlockCo marginTop2">
                                <p class="bld">NOTAS:</p> 
                                <p class="bld">Valor antes de IVA (Impuesto sobre ventas del 19% aplicado)</p> 
                                <p class="bld">Plazo de entrega: a ser acordado.</p>
                                <p class="bld">Forma de pago: 15 días después de fecha de factura.</p> 
                            </div>
                            <div class="infoBlockCo marginTop2">
                                <p class="bld">Estos valores incluyen:</p> 
                                <p class="bld">Elementos de protección respectivos para el desempeño de la labor.</p> 
                                <p class="bld">Dotaciones.</p> 
                                <p class="bld">Pólizas.</p> 
                                <p class="bld">Exámenes Médicos.</p> 
                                <p class="bld">SST.</p> 
                                <p class="bld">Herramientas y elementos necesarios para la prestación del servicio.</p> 
                            </div>
                            <div class="infoBlockCo marginTop2">
                                <p class="">Cordialmente</p> 
                                <p class="bld">JESUS ANTONIO PEREZ SERNA</p> 
                                <p class="bld">Director Comercial.</p> 
                                <p class="bld">INGENIERÍA, DISEÑO & SERVICIOS S.A.S.</p> 
                                <p class="bld">direccioncomercial@isuperior.co</p> 
                                <p class="bld">Cel. 318 837 19 76</p> 
                            </div>
                            
                            
                        </div>
                        <div class="piePagin">
                            <p>Sede Administrativa Calle 32 Sur #438 / 33 - Telefono: 4486161 opc 1 - comercial@isuperior.co - Medellín / Colombia</p>
                        </div>
                        
                        
                    </section>
                    
                </div>

            </section>
        
    </main>

    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
</html>