<section class="contenedorGeneralConsultaPEI" id="infoBuscarUsuario">
    <div class="contenedorFormularioIPEI margin2" id="">
        <h1 id="h1Consulta">Buscar Usuario</h1>
        <div class="contenedorx">
            <div class="busqueda">
                <div class="barraBusquedaGroup">
                    <input class="barraBusqueda" id="barraBusquedaUser" type="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <button class="filtrarBlock" type="button">Filtrar<i class="fa-solid fa-filter"></i></button>
            </div>   
        </div>
        <section class="contenedorGeneralUsuarios">
            <div class="contenedorUser">
                <div class="imgBlockUser">
                    <img class="imgUserFunRol" src="/images/inspector1.jpg" alt="">
                    <div class="nameAndDepartament">
                        <p class="nameUserSearch">Santiago Saldarriaga</p>
                        <p class="departamentUser">Inspector</p>
                    </div>
                </div>
                <button class="btn btnAdj2 BGorange btnEditarUser">Editar</button>
            </div>
            <div class="contenedorUser">
                <div class="imgBlockUser">
                    <img class="imgUserFunRol" src="/images/inspector1.jpg" alt="">
                    <div class="nameAndDepartament">
                        <p class="nameUserSearch">Santiago Saldarriaga</p>
                        <p class="departamentUser">Inspector</p>
                    </div>
                </div>
                <button class="btn btnAdj2 BGorange btnEditarUser">Editar</button>
            </div>
            <div class="contenedorUser">
                <div class="imgBlockUser">
                    <img class="imgUserFunRol" src="/images/inspector1.jpg" alt="">
                    <div class="nameAndDepartament">
                        <p class="nameUserSearch">Santiago Saldarriaga</p>
                        <p class="departamentUser">Inspector</p>
                    </div>
                </div>
                <button class="btn btnAdj2 BGorange btnEditarUser">Editar</button>
            </div>
            <div class="contenedorUser">
                <div class="imgBlockUser">
                    <img class="imgUserFunRol" src="/images/inspector1.jpg" alt="">
                    <div class="nameAndDepartament">
                        <p class="nameUserSearch">Santiago Saldarriaga</p>
                        <p class="departamentUser">Inspector</p>
                    </div>
                </div>
                <button class="btn btnAdj2 BGorange btnEditarUser">Editar</button>
            </div>
            <div class="contenedorUser">
                <div class="imgBlockUser">
                    <img class="imgUserFunRol" src="/images/inspector1.jpg" alt="">
                    <div class="nameAndDepartament">
                        <p class="nameUserSearch">Santiago Saldarriaga</p>
                        <p class="departamentUser">Inspector</p>
                    </div>
                </div>
                <button class="btn btnAdj2 BGorange btnEditarUser">Editar</button>
            </div>
        </section>
        <div class="contenedorFiltrar" id="busquedaAvanzadaInspecciones">
            <div class="titleMsgTemporal">
                <p>Búsqueda Avanzada</p>
                <i class="fa-solid fa-filter"></i>
                <p class="x">X</p>
            </div>
            <form class="formBusqueda" action="">
                
                <div class="fechaBlock fechaBlock100">
                    <label for="">Nombre:</label>
                    <input class="inputBusquedaAvanzada" type="text" name="" id="">
                </div>
                <div class="fechaBlock fechaBlock100">
                    <label for="">Apellido:</label>
                    <input class="inputBusquedaAvanzada" type="text" name="" id="">
                </div>
                <div class="fechaBlock fechaBlock100">
                    <label for="">Empresa:</label>
                    <input class="inputBusquedaAvanzada" type="text" name="" id="">
                </div>
                <div class="fechaBlock fechaBlock100">
                    <label for="">Identificación:</label>
                    <input class="inputBusquedaAvanzada" type="text" name="" id="">
                </div>
                <div class="fechaBlock fechaBlock100">
                    <label for="">Rol:</label>
                    <select class="inputBusquedaAvanzada" name="" id="">
                        <option value="">Opt 1</option>
                        <option value="">Opt 2</option>
                    </select>
                </div>
        
                <button class="btnSearch BGblue" type="button">Generar Resultados</button>
            </form>
        </div>
        <div class="contenedorFiltrar" id="editarUsuario">
            <div class="titleMsgTemporal">
                <p>Editar Usuario</p>
                <i class="fa-solid fa-filter"></i>
                <p class="x">X</p>
            </div>
            <form class="formBusqueda" action="">
                
                <div class="blockImgEdt">
                    <img class="imgUserFunRol" src="/images/inspector1.jpg" alt="">
                </div>
                
                <div class="fechaBlock fechaBlock100">
                    <label for="">Usuario:</label>
                    <input class="inputBusquedaAvanzada" type="text" name="" id="">
                </div>
                <div class="fechaBlock fechaBlock100">
                    <label for="">Nombre:</label>
                    <input class="inputBusquedaAvanzada" type="text" name="" id="">
                </div>
                <div class="fechaBlock fechaBlock100">
                    <label for="">Apellido:</label>
                    <input class="inputBusquedaAvanzada" type="text" name="" id="">
                </div>
                <div class="fechaBlock fechaBlock100">
                    <label for="">Empresa:</label>
                    <input class="inputBusquedaAvanzada" type="text" name="" id="">
                </div>
                <div class="fechaBlock fechaBlock100">
                    <label for="">Identificación:</label>
                    <input class="inputBusquedaAvanzada" type="text" name="" id="">
                </div>
                <div class="fechaBlock fechaBlock100">
                    <label for="">Celular:</label>
                    <input class="inputBusquedaAvanzada" type="text" name="" id="">
                </div>
                
                <div class="areaBotones">
                    <button class="btn btnAdj BGred" type="button">Eliminar</button>
                    <button class="btn btnAdj BGblue" type="button">Realizar Cambios</button>
                </div>
                
            </form>
        </div>
        
        
    </div>


</section>

<!-- Script para mostrar cuadro busqueda avanzada en consulta de inspecciones -->
<script>
    const cuadroEditarUsuario = document.querySelector("#editarUsuario")
    const cuadroBusquedaAvanzadaConsultaInspecciones = document.querySelector("#busquedaAvanzadaInspecciones")
    const ventanasEmergentes = document.querySelectorAll(".contenedorFiltrar")
    const x = document.querySelectorAll(".x")
    const btnFiltrar = document.querySelector(".filtrarBlock")
    const fondoOscuro = document.querySelector(".opacityVentanas")
    const btnsEditar = document.querySelectorAll(".btnEditarUser")

    btnsEditar.forEach(boton => {
        boton.addEventListener("click", ()=> {
            cuadroEditarUsuario.style.display = "flex"
            fondoOscuro.style.display = "flex"
        })
    })

    btnFiltrar.addEventListener("click",()=> {
        fondoOscuro.style.display = "flex"
        cuadroBusquedaAvanzadaConsultaInspecciones.style.display = "flex"
    })

    fondoOscuro.addEventListener("click",()=> {
        ventanasEmergentes.forEach((ventana)=> {
            ventana.style.display = "none"
            fondoOscuro.style.display = "none"
        })
    })

    x.forEach(una => {
        una.addEventListener("click",()=> {
            ventanasEmergentes.forEach((ventana)=> {
                ventana.style.display = "none"
                fondoOscuro.style.display = "none"
            })
        })
    })


</script>



