<section class="contenedorGeneralConsultaPEI" id="infoCrearCotizacion">
    <div class="contenedorFormularioIPEI margin2" id="">
        <h1 id="h1Consulta">Crear Cotización</h1>
        <div class="cont1CrearCot">
            <div class="blockCot">
                <label for="">Número de Contacto*</label>
                <input class="input input100" type="text" name="" id="">
            </div>
            <div class="blockCot">
                <label for="">Proveedor*</label>
                <input class="input input100" type="text" name="" id="">
            </div>
            <div class="blockCot">
                <label for="">Nombre Contacto Proveedor*</label>
                <select class="input input100" name="" id="">
                    <option selected hidden value="">Seleccione</option>
                </select>
            </div>
            <div class="blockCot">
                <label for="">Departamento o Cargo*</label>
                <input disabled class="input input100" type="text" name="" id="">
            </div>
            <div class="blockCot">
                <label for="">Dirección Proveedor*</label>
                <input disabled class="input input100" type="text" name="" id="">
            </div>
            <div class="blockCot">
                <label for="">Telefono Príncipal Contacto Proveedor*</label>
                <input disabled class="input input100" type="text" name="" id="">
            </div>
            <div class="blockCot">
                <label for="">Telefono Secundario Contacto Proveedor</label>
                <input disabled class="input input100" type="text" name="" id="">
            </div>
            <div class="blockCot">
                <label for="">Correo Electronico*</label>
                <input disabled class="input input100" type="text" name="" id="">
            </div>
        </div>
        <div class="textAreaCont">
            <div class="blockCot">
                <label for="">Descrpción Cotización*</label>
                <textarea class="textArea textAreaDef" name="" id="" cols="30" rows="5"></textarea>
            </div>
            <div class="blockCot">
                <label for="">Descripción del Proceso*</label>
                <textarea class="textArea textAreaDef" name="" id="" cols="30" rows="5"></textarea>
            </div>
        </div>
        <div class="cont1CrearCot">
            <div class="blockCot">
                <label for="">Unidades por RAN*</label>
                <input class="input input100" type="text" name="" id="">
            </div>
            <div class="blockCot">
                <label for="">Cantidad*</label>
                <input class="input input100" type="text" name="" id="">
            </div>
            <div class="blockCot">
                <label for="">Valor Unidad*</label>
                <input class="input input100" type="text" name="" id="">
            </div>
            <div class="blockCot">
                <label for="">IVA 19%*</label>
                <input disabled class="input input100" type="text" name="" id="">
            </div>
            <div class="blockCot">
                <label for="">Precio Total</label>
                <input disabled class="input input100" type="text" name="" id="">
            </div>
        </div>

        <button class="BGgreen btnAdj3">Crear Cotización</button>
    </div>


</section>



