<section class="contenedorGeneralConsultaPEI" id="infoCrearUsuario">
    <div class="contenedorFormularioIPEI margin2" id="">
        <h1 id="h1Consulta">Crear Usuario</h1>
        <form class="formCrearProveedor" action="">
            <div class="blockform">
                <label for="">Usuario*</label>
                <input class="input input100" type="text" name="" id="">
            </div>
            <div class="blockform">
                <label for="">Nombre*</label>
                <input class="input input100" type="text" name="" id="">
            </div>
            <div class="blockform">
                <label for="">Apellido*</label>
                <input class="input input100" type="text" name="" id="">
            </div>
            <div class="blockform">
                <label for="">Identificación*</label>
                <input class="input input100" type="text" name="" id="">
            </div>
            <div class="blockform">
                <label for="">Foto*</label>
                <label class="btnAdj BGblue" for="fotoUsuario" style="width: 100%;"><i class="fa-solid fa-upload"></i><p>Adjuntar</p></label>
                <input class="none" type="file" name="" id="fotoUsuario">
            </div>
            <div class="blockform">
                <label for="">Celular*</label>
                <input class="input input100" type="text" name="" id="">
            </div>
            <div class="blockform">
                <label for="">Rol*</label>
                <select class="input input100" name="" id="">
                    <option selected disabled value="">Seleccione</option>
                </select>
            </div>

            <button class="btn BGgreen">Crear Usuario</button>
        </form>                 
    </div>


</section>



