<section class="containerFooter">
    <div class="contenedorRedes">
        <div class="bloqueVacio"></div>
        <div class="redes">
            <a href="https://www.facebook.com/profile.php?id=100063934756668" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/ingenieria.disenoyservicio" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/75114635/admin" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="bloqueVacio"></div>
    </div>
    <img class="imgFooter" src="/images/logoBlanco.png" alt="">
    <div class="copyright">
        <p>Copyright <i class="fa-regular fa-copyright"></i> 2023 Ingenieria Diseño y Servicio S.A.S</p>
    </div>
    <div class="tyc-Pv">
        <a href=""><p>Terminos y Condiciones</p></a>
        <p>|</p>
        <a href=""><p>Política de Privacidad</p></a>
    </div>
    
</section>